.personal-banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30em;
}

.full-name,
.job {
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.full-name {
  padding-top: 3em;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.section-name-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-name {
  flex: 0 1 auto;
  border-left: 0.1em solid #baaeb0;
  padding: 2em;
  margin: 0;
}

.section-name:last-child {
  border-right: 0.1em solid #baaeb0;
}

.section-name:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1em;
  flex: 0 1 30em;
}

.section-name:nth-child(3) > .full-name {
  color: #273746;
  padding-top: 0;
  margin-bottom: 0;
}

.section-name:nth-child(3) > .job {
  color: #baaeb0;
}

.personal-info-section {
  display: flex;
  justify-content: center;
  gap: 5em;
  padding: 5em;
}

.career-goal,
.personal-info {
  flex: 0 1 50%;
}

.personal-data-label {
  font-weight: 600;
}

.personal-data-output,
ul > li,
ul > li > p,
.certification-description {
  color: #999999;
}

ul > li > p:first-child {
  color: #000000;
}
.career-goal-heading,
.personal-info-heading,
.work-experience-header,
.education-header,
.activity-header,
.hobby-header,
.language-header,
.skill-header,
.certification-section-heading,
.project-section-heading {
  font-size: 2em;
  font-weight: 500;
}

.project-section-heading {
  padding: 0 5em;
}

.personal-info-section,
.certification-section {
  background-color: #ffffcc;
}

ul > li::marker {
  color: #33f6ff;
  font-size: 1.5em;
}

ul {
  list-style-position: inside;
  padding: 0;
}

.personal-info-details-section,
.personal-info-details-section-two {
  display: flex;
  justify-content: center;
  padding: 2em 10em;
  gap: 10em;
}

.work-experience,
.education,
.activity,
.hobby,
.language,
.skill {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  border: 0.1em solid #eeeeee;
  padding: 2em 1.5em;
}

.work-experience-header,
.education-header,
.activity-header,
.hobby-header,
.language-header,
.skill-header {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

li > p {
  margin-left: 2em;
}

li > p:first-child {
  display: inline;
  margin-left: 0;
}

.present {
  padding: 0.25em 0.75em;
  border-radius: 10em;
  color: #f2f2f2;
  background-color: #1a1aff;
}

.favourite-list > li,
.language-list > li,
.skill-list > li {
  list-style: none;
}

.favourite-list {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.favourite-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.favourite-icon {
  padding: 1em;
  border: 0.1em solid #33f6ff;
  border-radius: 2em;
}

.favourite-icon,
.favourite-item > p:last-child {
  flex: 0 1 auto;
}

.favourite-item > p {
  margin: 0;
}

.progress-bar {
  display: flex;
  margin-left: 0;
  gap: 1em;
}

.progress-bar-point-blue-color {
  display: inline-block;
  width: 3em;
  height: 0.25em;
  background-color: #13e5d4;
}

.progress-bar-point {
  display: inline-block;
  width: 3em;
  height: 0.25em;
  background-color: #cccccc;
}

.certification-section {
  padding: 2em 20em;
}

.project-section {
  padding: 2em 10em;
}

.certification-list,
.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em 7em;
}

.project-list {
  gap: 3em 2em;
}

.certification-item {
  flex: 0 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1em;
}

.certification-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.cert-img {
  width: 15em;
  height: 10em;
}

.project-img {
  width: 20em;
  height: 15em;
}

figure {
  border: thin #c0c0c0 solid;
}

.project-item {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
}

.software-engineer-role,
.project-description,
.project-responsibility,
.project-technical-stack {
  display: flex;
  gap: 2em;
  padding: 1em;
  border: 0.1em solid #e5e5e5;
}

.project-name {
  padding: 1em;
  margin: 0;
  border: 0.1em solid #e5e5e5;
}

.software-engineer-role {
  gap: 1em;
  align-items: center;
}

.project-date-range {
  background-color: #3d85c6;
  border-radius: 10em;
  color: #e5e5e5;
  padding: 0.5em 1em;
}

.project-client,
.engineer-role {
  display: flex;
  gap: 1em;
}

footer {
  background-color: #ffffcc;
}

.site-name {
  color: #999900;
}

.social-media-sites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 5em;
}
